*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #d3d3d3;
    font-family: "Nunito Sans", serif;
}

#social{
    background-color: #704214;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

font{
    float: left;
    letter-spacing: 3px;
}

span{
    letter-spacing: 1px;
    font-size: 17px;
}

#social a{
    color: white;
    text-decoration: none;
    margin-right: 25px;
}

#social a:hover i{
    opacity: 0.5;
}


#social>i:hover{
    opacity: 0.5;
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
    
}

header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    font-family: "Caveat Brush", serif;
    font-size: 25px;
    color: black;
    margin-bottom: 8px;
    
}
#headerResim {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}

section{
    width: 100%;
    height:auto;
    background-color: #f1f1f1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    overflow: auto;
}

nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto
}
nav ul{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
    
}

nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 24px;
    display: block;
    
}

nav li a:hover{
    color: white;
    background-color: #704214;
}
i{
    margin-right: 10px;
}
main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;  
}

.icerik{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-bottom: 15px;
    
}

.rsm{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5 {
    margin: 10px;
    
}
.icerikText {
    margin: 10px;
}
.btnDevam:link {
    width: 150px;
    height: 45px;
    padding: 10px; 20px;
    background-color: #704214;
    color: black;
    text-decoration: none;
    margin: 15px;
    display: block;
    border-radius: 15px;
    
}
.btnDevam:hover{
    opacity: 0.5;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #704214;
    color: white;
    line-height: 50px;
    text-align: center;
}

h1{
    text-align: center;
    background-color: #704214;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}
#hakkimizdaRsm{
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin: 15px;
}

.hakyazi{
    margin-right: 15px;
    font-size: 15px;
    font-family: sans-serif;
    text-indent: 40px;
    
}
.yazarlar{
    width: 45%;
    height: 300px;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.yazResim{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.yazBaslik{
    font-size: 20px;
    display: inline-block;
    margin-top: 0px;
    color: #704214;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.yazdetay{
    text-align: center;
    margin: 10px;
}

#bizeUlasinresim {
    width: 98%;
    height: 350px;
    border-radius: 14px;
    margin-top: 14px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

.section1{
    
    width: 98%;
    height:auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
        
}
.form{
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-right: 10px;
}
.zei1{
    width: 25%;
    float: left;
    margin-top: 6px;
}
.zei2{
    width: 75%;
    float: left;
    margin-top: 6px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}
input[type=text], textarea{
    width: %100;
    padding: 12px;
    border: 1px solid #ccc;
    border border-radius: 4px;
}

.row:after{
    content:"";
    clear: both;
    display:block;
}

input[type=submit]{
    background-color: #704214;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    float: right;
}

.bilgi{
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;
}
#yazaradi{
    margin-right: 15px;
    font-size: 15px;
    font-family: sans-serif;
    text-indent: 40px;
    text-align: right;
}

.yazilaryazi{
    margin-right: 15px;
    font-size: 15px;
    font-family:cursive;
    text-indent: 40px;
}
#yazilarRsm{
    width: 500px;
    height: 400px;
    float: left;
    border-radius: 10px;
    margin: 15px;
    
}

    